h1{
    color: brown;
    text-align: center;
    margin: 50px;
    padding: 100px;
}
h2{
    color: brown;
    text-align: center;
    margin: 50px;
    padding: 100px;
}
p{
    text-align: center;
    color: #f44321
